## Q1) Workers With The Highest Salaries
Find the titles of workers that earn the highest salaries. Output the highest-paid titles.

SELECT worker_title
FROM title
JOIN worker
ON worker.worker_id = title.worker_ref_id
WHERE salary = ( SELECT MAX(salary) FROM worker)

## Q2) Users By Avg Session time
Calculate each user's average session time. A session is defined as the time difference between a page_load and page_exit. For simplicity, assume an user has only 1 session per day and if there are multiple of the same events in that day, consider only the latest page_load and earliest page_exit. Output the user_id and their average session time.

## Q3) Activity Rank
Find the email activity rank for each user. Email activity rank is defined by the total number of emails sent. The user with the highest number of emails sent will have a rank of 1, and so on. Output the user, total emails, and their activity rank. Order records by the total emails in descending order. Sort users with the same number of emails in alphabetical order.
In your rankings, return a unique value (i.e., a unique percentile) even if multiple users have the same number of emails.

SELECT from_user , COUNT(from_user) AS total_emails , 
row_number() OVER(ORDER BY COUNT(from_user) DESC ) AS rank_user
FROM google_gmail_emails
GROUP BY from_user
ORDER BY total_emails DESC , from_user ASC

## Q4) Salaries Differences
Write a query that calculates the difference between the highest salaries found in the marketing and engineering departments. Output just the difference in salaries.

JOIN db_dept AS d
ON e.department_id = d.id
WHERE department = 'engineering' ) , 
mark AS 
( SELECT MAX(salary) AS M FROM 
db_employee AS e
JOIN db_dept AS d
ON e.department_id = d.id
WHERE department = 'marketing' )

SELECT M - E FROM eng , mark

 ## Q5 Finding Updated Records
We have a table with employees and their salaries, however, some of the records are old and contain outdated salary information. Find the current salary of each employee assuming that salaries increase each year. Output their id, first name, last name, department ID, and current salary. Order your list by employee ID in ascending order.

WITH CTE AS (select * ,
row_number() OVER(PARTITION BY id ORDER BY salary DESC) AS salary_rank
from ms_employee_salary) 
SELECT id ,	first_name , last_name , department_id, salary
FROM CTE 
WHERE salary_rank = 1

## Q6 Bikes Last Used
Find the last time each bike was in use. Output both the bike number and the date-timestamp of the bike's last use (i.e., the date-time the bike was returned). Order the results by bikes that were most recently used.

select bike_number , MAX(end_time) AS last_time 
FROM dc_bikeshare_q1_2012
GROUP BY bike_number
ORDER BY  bike_number , MAX(end_time)

## Q7 Count the number of movies that Abigail Breslin nominated for oscar
Count the number of movies that Abigail Breslin was nominated for an oscar.

select COUNT(movie) AS total_movies from oscar_nominees
WHERE nominee = 'Abigail Breslin'

## Q8 Popularity of Hack
Facebook has developed a new programing language called Hack.To measure the popularity of Hack they ran a survey with their employees. The survey included data on previous programing familiarity as well as the number of years of experience, age, gender and most importantly satisfaction with Hack. Due to an error location data was not collected, but your supervisor demands a report showing average popularity of Hack by office location. Luckily the user IDs of employees completing the surveys were stored.
Based on the above, find the average popularity of the Hack per office location.
Output the location along with the average popularity.

select location , AVG(popularity)
FROM facebook_employees AS e
JOIN facebook_hack_survey AS s
ON e.id = s.employee_id
GROUP BY location

## Q9 Top 5 States With 5 Star Businesses
Find the top 5 states with the most 5 star businesses. Output the state name along with the number of 5-star businesses and order records by the number of 5-star businesses in descending order. In case there are two states with the same result, sort them in alphabetical order.

select state , COUNT(stars) AS total_5stars
from yelp_business
WHERE stars = 5
GROUP BY state
ORDER BY 2 DESC , 1
LIMIT 5

## Q10 Lyft Driver Wages
Find all Lyft drivers who earn either equal to or less than 30k USD or equal to or more than 70k USD.
Output all details related to retrieved records.

select * from lyft_drivers
WHERE yearly_salary <= 30000 OR yearly_salary >=  70000

## Q11 Find artists that have been on Spotify the most number of times
Find artists that have been on Spotify the most number of times.
Output the artist name along with the corresponding number of occurrences.
Order records by the number of occurrences in descending order.

select artist , COUNT(*) AS occurrences 
from spotify_worldwide_daily_song_ranking
GROUP BY 1 
ORDER BY occurrences DESC

## Q12 Find the base pay for Police Captains
Find the base pay for Police Captains.
Output the employee name along with the corresponding base pay.

Select employeename , basepay
from sf_public_salaries
WHERE jobtitle = 'CAPTAIN III (POLICE DEPARTMENT)'

## Q13 Find libraries who haven't provided the email address in 2016 but their notice preference definition is set to email
Find libraries who haven't provided the email address in 2016 but their notice preference definition is set to email.
Output the library code.

select home_library_code
from library_usage
WHERE provided_email_address = False 
AND circulation_active_year = 2016
AND notice_preference_definition = 'email'

 ## Q14 Average Salaries
Compare each employee's salary with the average salary of the corresponding department.
Output the department, first name, and salary of employees along with the average salary of that department.

select department , first_name , last_name , salary , 
AVG(salary) OVER(PARTITION BY department)
from employee;

## Q15 Customer Details
Find the details of each customer regardless of whether the customer made an order. Output the customer's first name, last name, and the city along with the order details.
Your output should be listing the customer's orders not necessarily listing the customers. This means that you may have duplicate rows in your results due to a customer ordering several of the same items. Sort records based on the customer's first name and the order details in ascending order.

## Q16 Churro Activity Date
Find the activity date and the pe_description of facilities with the name 'STREET CHURROS' and with a score of less than 95 points.

SELECT activity_date , pe_description
from los_angeles_restaurant_health_inspections
WHERE score < 95 AND facility_name = 'STREET CHURROS'

## Q17 Most Profitable Companies
Find the 3 most profitable companies in the entire world.
Output the result along with the corresponding company name.
Sort the result based on profits in descending order.

select company , profits from forbes_global_2010_2014
ORDER BY profits DESC 
LIMIT 3

## Q18 Find the most profitable company in the financial sector of the entire world along with its continent
Find the most profitable company from the financial sector. Output the result along with the continent.

select company , continent
FROM forbes_global_2010_2014
WHERE sector = 'Financials'
ORDER BY profits DESC 
LIMIT 1

## Q19 Number Of Bathrooms And Bedrooms
Find the average number of bathrooms and bedrooms for each city’s property types. Output the result along with the city name and the property type.

select property_type , city , AVG(bathrooms) , AVG(bedrooms) from airbnb_search_details
GROUP BY property_type, city